<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11954332407-9eeluo6o8ukonb1juirn00qapr4dftac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11954332407-9eeluo6o8ukonb1juirn00qapr4dftac</string>
	<key>API_KEY</key>
	<string>AIzaSyC3E-UfydLEwGEOm6LGYR5_k1Hqdzb5Gho</string>
	<key>GCM_SENDER_ID</key>
	<string>11954332407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aveosoftware.counterApp</string>
	<key>PROJECT_ID</key>
	<string>counter-app-58d59</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-app-58d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11954332407:ios:dc4a13da1204939b9fa9f2</string>
	<key>DATABASE_URL</key>
	<string>https://counter-app-58d59-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>